html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.main:before,
.main:after {
  content: "";
  display: table;
}
.main:after{
  clear: both;
}
.main{
  clear: both;
}
/* End of clearfix */

aside {
    float: left;
    width: 20%;
    margin-right: 5%;
}

section.alljob {
    float: left;
    width: 70%;
}

section.job {
    float: left;
    width: 30%;
}

.container1  {
    background-color: #f1f1f1;
    padding: 3%;
    padding-left: 5%
}

.container1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container1 li {
    margin-bottom: 60px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
    line-height: 24px;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    color: white;
    background-color: blue;
    text-decoration: none;
}

.btn-alt {
    border: 1px solid #dfe2ef;
    padding: 10px 30px;
}

.header-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
  
.home-icon {
    background-image: url('../images/icons8-home-30.png');
}
.company-icon {
    background-image: url('../images/icons8-group-of-companies-50.png');
}
.salary-icon {
    background-image: url('../images/icons8-salary-50.png');
}
.About-icon {
    background-image: url('../images/icons8-about-50.png');
}
.Help-icon {
    background-image: url('../images/icons8-help-50.png');
}
.site-title {
    color: #0000ff;
}
.search-bar {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
}
.search-contain input[type="text"] {
    width: 300px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}
.search-contain button {
    border-style: solid;
    background-color: #4287f5;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}