<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern hub</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
</head>
<body>
    <header>

        <h1>
            <a class="site-name" href="search_page.html"> Intern Hub</a>

            </h1>
        
        
        <div class="search-box">
            <input type="text" placeholder="Find job">
            <button>Search</button>
        </div>
        <div class="contain">
        <section class="job_display">
            <div class="contents">
             <p><h3>Brookies INC</h3><b>Brookies INC</b> specializes in Electricity.<br> We are looking for an Intern Software Engineer<br> who will work with us to<br> increase the productivity of the company<br><b><i>INTERN ROLE</i></b><br>$60k - $90k</p>
            </div> 
         </section>
         <section class="job_display1">
            <div class="contents1">
             <p><h3>Auxion Tech</h3><b>Auxion company</b> specializes in Auto tech cars.<br> We are looking for an Intern Software Engineer<br> who will work with our senior developers and<br> increase the productivity of the company<br><b><i>INTERN ROLE</i></b><br>$80k - $120k</p>
            </div> 
         </section>
        </div>
            
    </header>
    
    
    <div class="container">
        <ul>
            <li class="home-icon">Home</li>
            <li class="company-icon">Companies</li>
            <li class="salary-icon">Salaries</li>
            <li class="About-icon">About</li>
            <li class="Help-icon">Help</li>
            <li></li>
        </ul>
        <button><a href="post.html" class="button1"><b>POST JOB</b></a></button>
    </div>
    
    

    
    <footer>
       <h3>Internhub</h3>
       <small>&copy;2023</small>
    </footer>
</body>
</html>