<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern hub</title>
    <link rel="stylesheet" type="text/css" href="styles/footer.css" />
</head>
<body>
    <header>

        <h1>
            <a class="site-name" href="index.html"> Intern Hub</a>

            </h1>

    </header>
    
    <div class="container">
        <ul>
            <li class="home-icon">Home</li>
            <li class="company-icon">Companies</li>
            <li class="salary-icon">Salaries</li>
            <li class="About-icon">About</li>
            <li class="Help-icon">Help</li>
            <li class="Logout-icon">Log out</li>
        </ul>
    </div>
    
    <footer>
       <h3>Internhub</h3>
       <ul>
        <li class="Terms-of-use">Terms of use</li>
       </ul>
    </footer>
</body>
</html>