<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern hub</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
</head>
<body>
    <header>

        <h1>
            <a class="site-name" href="search_page.html"> Intern Hub</a>

            </h1>
        <nav class="navigate">
          <a href="#">Find job</a>
          <a href="#">Contact Us</a>  
        </nav>
        <div class="search-box">
            <input type="text" placeholder="Find job">
            <button>Search</button>
        </div>
        <section class="job_display">
            <div class="contents">
             <p><h3>Company name</h3>Description<br>$80k</p>
            </div> 
         </section>
         <section class="job_display1">
            <div class="contents1">
             <p><h3>Company name</h3>Description<br>$80k</p>
            </div> 
         </section>
         <section class="job_display2">
            <div class="contents2">
             <p><h3>Company name</h3>Description<br>$80k</p>
            </div> 
         </section>
         <section class="job_display3">
            <div class="contents3">
             <p><h3>Company name</h3>Description<br>$80k</p>
            </div> 
         </section>
         <section class="job_display4">
            <div class="contents4">
             <p><h3>Company name4</h3>Description<br>$80k</p>
            </div> 
         </section>
         <section class="job_display5">
            <div class="contents5">
             <p><h3>Company name</h3>Description<br>$80k</p>
            </div> 
         </section>
            
    </header>
    
    
    <div class="container">
        <ul>
            <li class="home-icon">Home</li>
            <li class="company-icon">Companies</li>
            <li class="salary-icon">Salaries</li>
            <li class="About-icon">About</li>
            <li class="Help-icon">Help</li>
            <li></li>
        </ul>
        <button><a href="post.html">POST JOB</a></button>
    </div>
    

    
    <footer>
       <h3>Internhub</h3>
       <small>&copy;2023</small>
    </footer>
</body>
</html>